


/* Tablet menu */

@media all and (min-width: 670px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }


  li .logo{
    margin: 0px;
  }


}

@media all and (max-width:1170px){


.menu li.item.b{
  border-top: 0.5px solid #423E52;
  margin: 0;
  padding: 20px;
}

li.item.b.a.active{
  margin-top: 8px;
}


li.logo{
  margin-left: 0px;
}

menu.li{
  padding: 0px;
}

}

@media all and (max-width:680px){
  .menu li.button {
    display: none;
}


}

  
 
 


/* Desktop menu */

@media all and (min-width: 1180px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }

  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }

}

@media all and (max-width: 1000px){
  nav{
    padding: 0.5rem 1rem;
  }

}

/* hero section */

@media all and (max-width: 1200px){

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .dashboard-img{
    display: flex;
    align-items: center;
    width: 70vw ;
  }

  .h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }

  .text{
    max-width: 35rem;
    text-align: center;
  }
  
  .h1 , p{
    color: white;
    padding-bottom: 15px;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  button{
    padding: 15px 100px 15px 100px;
  }

}

@media all and (max-width: 620px){


  section{
    margin:0px;
    padding: 50px 10px 50px 10px;
  }
  .h1{
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
  }

  .text{
    max-width: 25rem;
    text-align: center;
  }

  .dashboard-img{
    display: flex;
    align-items: center;
    width: 90vw ;
  }
}

/* Partners section */

@media all and (max-width: 420px){

  .partners-section{
    background: white;
    padding: 60px 0px 60px 0px;
  }
  
  .logos{
    display:flex;
    background: white;
    justify-content: center;
  }
  
  .h2-partners{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
  }

  .partners{
    display: none;
  }

  .resp{
    display: flex;
    
  }

}

/* Section about us */

@media  all and (max-width: 800px){
  .section-about-us{
    background-image: none;
    background: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px
  }  

  .p-about-us{
    display: inline-block;
    max-width: none;
    text-align: center;
    justify-content: center;
  }

  a.link{
    color: black;
    display: flex;
    justify-content: center;
    background: none;
    padding-top: 25px;
    font-weight: bold;
  }




}
  


  


  
