@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

/* Navbar and Topnavbar */

.top-nav p{
  text-align: center;
  padding: 10px;
  background: linear-gradient(270.02deg, #8C8ED7 0.02%, #6A70FA 98.32%);
  color: white;
}


nav {
  background: linear-gradient(180deg, #2A3357 0%, #191C35 100%);
  padding: 0.5rem 6rem;
}




ul {
  list-style-type: none;
}


/* Buttons and links */

a {
  color: rgb(192, 192, 192);
  text-decoration: none;
}

a:hover{
  color: rgb(255, 255, 255);
}

.button a {
  padding: 10px 25px;
  background: linear-gradient(270.02deg, #8C8ED7 0.02%, #6A70FA 98.32%);
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.button a:hover {
  background: white;
  color: black;
  border-radius: 8px;
  transform: scale(1.5);

}

.button.secondary a {
  background: transparent;  
  color: rgb(192, 192, 192);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 8px;
}

.button.secondary a:hover {
  background: transparent;   
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}

.menu li:not(.logo) {
  font-size: 16px;
  padding: 15px 5px;
  margin-left:20px;
  white-space: nowrap;
}

.menu li.logo{
  padding: 0px;
}

/* Mobile menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.toggle img {
  transform: scale(1.2);
}

.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */

.toggle {
  cursor:pointer;
}
.bars {
  background: rgb(255, 255, 255);
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before, .bars:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}


/* Hero section */

.container{
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
}

.dashboard-img {
  width: 40vw;
  transition: transform 0.3s ease-in-out;
}

.dashboard-img:hover {
  transform: scale(1.05);
}



section {
  padding:95px;
  background: linear-gradient(180deg, #2B3559 0%, #000000 100%, #0B080F 100%);
}

.text{
  max-width: 30rem;
}

.h1 , p{
  color: white;
  padding-bottom: 15px;
}
  
.h1{
  font-size: 3rem;
}

button{
  margin-top: 20px;
  font-size: 16px;
  padding: 15px 35px;
  background: linear-gradient(270.02deg, #8C8ED7 0.02%, #6A70FA 98.32%);
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

button:hover{
  margin-top: 20px;
  font-size: 16px;
  padding: 15px 35px;
  background: white;
  border-radius: 8px;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

/* Partners section */

.partners-section{
  background: white;
  padding: 60px;
}

.logos{
  display:flex;
  background: white;
  justify-content: center;
  flex-wrap: wrap;
}

.h2-partners{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
}

/* Features section */

.section-features{
  padding: 60px;
}

.block-group{
  display:flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.block-group p{
  padding-bottom: 0px;
}

.block{
  background: linear-gradient(180deg, #343857 0%, #1B1F38 100%);
  border-radius: 10px;
  padding: 30px 60px 30px 60px;
  width: 600px;
}

h3{
  color: white;
}

.h2-features{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 20px;
  color: white;
}

.icon-title{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

/* Section about us */

.section-about-us{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 150px 60px 150px;

}

.p-about-us{
  color: black;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 500px;
}

.underline{
  width: 88px;
  height: 0.25rem;
  background: linear-gradient(90deg, #7273BE 0.57%, #6166D7 100.57%);
}
.btn{
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}
.btn:hover{
  transform: scale(1.01);
}

.h2-section-about-us{
  font-size: 30px;
}

a.link{
  color: black;
  background: none;
  padding-top: 25px;
  font-weight: bold;
}

.link:hover{
  color: black;
}

/* Section services */

.services{
  
  padding: 60px 150px 60px 150px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  }

.p-our-services{
    width: 600px;
  }

.h2-section-services{
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
}

.chart-img{
  width: 40vw;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Section OG cards */

.og-cards{
  background-image: url("images/background2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 360px 170px 360px;
  display: flex;
  justify-content: center;
}

.container-og-cards{
  background: linear-gradient(180deg, #2B3559 0%, #000000 100%, #0B080F 100%);
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 70px;
  gap: 50px;
 
  
}
  
.h2-og-cards {
  color: white;
  font-size: 30px;
  padding-bottom: 30px;
}

.mp4 {
  width: 40vh;
  margin-left: 50px;
  margin-right: 50px;
  
}

.content-services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
}

/* footer */

footer{
  background: linear-gradient(180deg, #2B3559 0%, #000000 100%, #0B080F 100%);
  padding: 90px;
  
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.underline-row2{
  width: 7.2rem;
  height: 0.25rem;
  background: linear-gradient(90deg, #7273BE 0.57%, #6166D7 100.57%);
  margin-top: 3px;
}

.underline-row3{
  width: 5.9rem;
  height: 0.25rem;
  background: linear-gradient(90deg, #7273BE 0.57%, #6166D7 100.57%);
  margin-top: 3px;
}

.underline-row4{
  width: 7.5rem;
  height: 0.25rem;
  background: linear-gradient(90deg, #7273BE 0.57%, #6166D7 100.57%);
  margin-top: 3px;
}

.icone{
  padding: 13px;
  border-radius: 5px;
  background: linear-gradient(90deg, #7273BE 0.57%, #6166D7 100.57%);
}

.social-icones{
  display: flex;
  gap: 15px;
  padding-top: 30px;
}

img.twitter{
  width: 23px;
  padding-top: 4px;
}

img.discord{
  width: 23px;
}



img.medium{
  padding-top: 3.5px;
}

